---
layout: default
---


<!-- <div>
	
<ul class="myposts">
{% for post in site.posts %}
    <li><a href="{{ post.url }}">{{ post.title}}</a>
    <span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>
    </li>
{% endfor %}
</ul>
</div> -->


<div class="corpo container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="content xindex">
                <div class="wrap">
                    <div class="col_1">
                        <div class="form-search">
                            <form id="searchform" class="blog-search" method="get" action="//www.smartia.com.br/blog">
                                <div>
                                    <input id="s" name="s" type="text" class="text busca" value="" size="10" tabindex="1">
                                    <input type="submit" id="searchsubmit" class="button" value="Buscar" tabindex="2">
                                </div>
                            </form>
                        </div>

                        <div class="aside-box compre-pelo-telefone">
                        </div>


                        <div class="saiba_mais">
                            <h3>Saiba mais sobre a Smartia.</h3>
                            <p>A Smartia é o primeiro site brasileiro de cotação de seguros online.</p>
                            <div class="btn_simular"><a href="#" onclick="document.getElementById('centro_banner_form').submit();" class="vemm-event-go-to-form" rel="nofollow"><span>Cote agora!</span></a></div>
                        </div>

                        <div class="calendar">

                            <ul>

                                <li id="tag_cloud-3" class="widget widget_tag_cloud">
                                    <h3 class="widgettitle">Tag Cloud</h3>
                                    <div class="tagcloud"><a href="//www.smartia.com.br/blog/tag/acidente/" class="tag-cloud-link tag-link-61 tag-link-position-1" style="font-size: 10.333333333333pt;" aria-label="acidente (12 itens)">acidente</a>
                                        <a href="//www.smartia.com.br/blog/tag/auto/" class="tag-cloud-link tag-link-31 tag-link-position-2" style="font-size: 17.333333333333pt;" aria-label="auto (54 itens)">auto</a>
                                        <a href="//www.smartia.com.br/blog/tag/automoveis/" class="tag-cloud-link tag-link-17 tag-link-position-3" style="font-size: 19pt;" aria-label="automóveis (77 itens)">automóveis</a>
                                        <a href="//www.smartia.com.br/blog/tag/automovel/" class="tag-cloud-link tag-link-18 tag-link-position-4" style="font-size: 18.222222222222pt;" aria-label="automóvel (65 itens)">automóvel</a>
                                        <a href="//www.smartia.com.br/blog/tag/caminhao/" class="tag-cloud-link tag-link-389 tag-link-position-5" style="font-size: 8pt;" aria-label="caminhão (7 itens)">caminhão</a>
                                        <a href="//www.smartia.com.br/blog/tag/carro/" class="tag-cloud-link tag-link-44 tag-link-position-6" style="font-size: 20.666666666667pt;" aria-label="carro (109 itens)">carro</a>
                                        <a href="//www.smartia.com.br/blog/tag/carros/" class="tag-cloud-link tag-link-21 tag-link-position-7" style="font-size: 18.888888888889pt;" aria-label="carros (75 itens)">carros</a>
                                        <a href="//www.smartia.com.br/blog/tag/carro-seguro/" class="tag-cloud-link tag-link-124 tag-link-position-8" style="font-size: 11.666666666667pt;" aria-label="carro seguro (16 itens)">carro seguro</a>
                                        <a href="//www.smartia.com.br/blog/tag/cobertura/" class="tag-cloud-link tag-link-29 tag-link-position-9" style="font-size: 14.888888888889pt;" aria-label="cobertura (32 itens)">cobertura</a>
                                        <a href="//www.smartia.com.br/blog/tag/cobertura-de-acidentes/" class="tag-cloud-link tag-link-123 tag-link-position-10" style="font-size: 11.111111111111pt;" aria-label="cobertura de acidentes (14 itens)">cobertura de acidentes</a>
                                        <a href="//www.smartia.com.br/blog/tag/combustivel/" class="tag-cloud-link tag-link-217 tag-link-position-11" style="font-size: 12.444444444444pt;" aria-label="combustível (19 itens)">combustível</a>
                                        <a href="//www.smartia.com.br/blog/tag/cotacao/" class="tag-cloud-link tag-link-26 tag-link-position-12" style="font-size: 12.888888888889pt;" aria-label="cotação (21 itens)">cotação</a>
                                        <a href="//www.smartia.com.br/blog/tag/dicas-2/" class="tag-cloud-link tag-link-188 tag-link-position-13" style="font-size: 9.1111111111111pt;" aria-label="dicas (9 itens)">dicas</a>
                                        <a href="//www.smartia.com.br/blog/tag/dpvat/" class="tag-cloud-link tag-link-55 tag-link-position-14" style="font-size: 8pt;" aria-label="dpvat (7 itens)">dpvat</a>
                                        <a href="//www.smartia.com.br/blog/tag/fiat/" class="tag-cloud-link tag-link-117 tag-link-position-15" style="font-size: 9.5555555555556pt;" aria-label="fiat (10 itens)">fiat</a>
                                        <a href="//www.smartia.com.br/blog/tag/gasolina/" class="tag-cloud-link tag-link-266 tag-link-position-16" style="font-size: 10.333333333333pt;" aria-label="gasolina (12 itens)">gasolina</a>
                                        <a href="//www.smartia.com.br/blog/tag/habilitacao/" class="tag-cloud-link tag-link-102 tag-link-position-17" style="font-size: 8.5555555555556pt;" aria-label="Habilitação (8 itens)">Habilitação</a>
                                        <a href="//www.smartia.com.br/blog/tag/impostos/" class="tag-cloud-link tag-link-81 tag-link-position-18" style="font-size: 8pt;" aria-label="impostos (7 itens)">impostos</a>
                                        <a href="//www.smartia.com.br/blog/tag/manutencao-2/" class="tag-cloud-link tag-link-114 tag-link-position-19" style="font-size: 10pt;" aria-label="manutenção (11 itens)">manutenção</a>
                                        <a href="//www.smartia.com.br/blog/tag/moto/" class="tag-cloud-link tag-link-85 tag-link-position-20" style="font-size: 11.111111111111pt;" aria-label="moto (14 itens)">moto</a>
                                        <a href="//www.smartia.com.br/blog/tag/motocicleta/" class="tag-cloud-link tag-link-75 tag-link-position-21" style="font-size: 8.5555555555556pt;" aria-label="motocicleta (8 itens)">motocicleta</a>
                                        <a href="//www.smartia.com.br/blog/tag/motorista/" class="tag-cloud-link tag-link-246 tag-link-position-22" style="font-size: 12.666666666667pt;" aria-label="motorista (20 itens)">motorista</a>
                                        <a href="//www.smartia.com.br/blog/tag/online/" class="tag-cloud-link tag-link-32 tag-link-position-23" style="font-size: 12.888888888889pt;" aria-label="online (21 itens)">online</a>
                                        <a href="//www.smartia.com.br/blog/tag/potencia/" class="tag-cloud-link tag-link-473 tag-link-position-24" style="font-size: 10pt;" aria-label="potência (11 itens)">potência</a>
                                        <a href="//www.smartia.com.br/blog/tag/preco/" class="tag-cloud-link tag-link-27 tag-link-position-25" style="font-size: 10.333333333333pt;" aria-label="preço (12 itens)">preço</a>
                                        <a href="//www.smartia.com.br/blog/tag/preco-do-seguro/" class="tag-cloud-link tag-link-623 tag-link-position-26" style="font-size: 8.5555555555556pt;" aria-label="preço do seguro (8 itens)">preço do seguro</a>
                                        <a href="//www.smartia.com.br/blog/tag/seguradoras/" class="tag-cloud-link tag-link-19 tag-link-position-27" style="font-size: 16.111111111111pt;" aria-label="seguradoras (42 itens)">seguradoras</a>
                                        <a href="//www.smartia.com.br/blog/tag/seguranca/" class="tag-cloud-link tag-link-211 tag-link-position-28" style="font-size: 11.666666666667pt;" aria-label="segurança (16 itens)">segurança</a>
                                        <a href="//www.smartia.com.br/blog/tag/roubo/" class="tag-cloud-link tag-link-141 tag-link-position-29" style="font-size: 9.1111111111111pt;" aria-label="Segurança no trânsito (9 itens)">Segurança no trânsito</a>
                                        <a href="//www.smartia.com.br/blog/tag/seguro/" class="tag-cloud-link tag-link-705 tag-link-position-30" style="font-size: 22pt;" aria-label="seguro (142 itens)">seguro</a>
                                        <a href="//www.smartia.com.br/blog/tag/seguro-auto-2/" class="tag-cloud-link tag-link-156 tag-link-position-31" style="font-size: 19.666666666667pt;" aria-label="seguro auto (88 itens)">seguro auto</a>
                                        <a href="//www.smartia.com.br/blog/tag/seguro-carro/" class="tag-cloud-link tag-link-706 tag-link-position-32" style="font-size: 10.333333333333pt;" aria-label="seguro carro (12 itens)">seguro carro</a>
                                        <a href="//www.smartia.com.br/blog/tag/seguro-de-carro/" class="tag-cloud-link tag-link-122 tag-link-position-33" style="font-size: 13.555555555556pt;" aria-label="seguro de carro (24 itens)">seguro de carro</a>
                                        <a href="//www.smartia.com.br/blog/tag/seguro-online-2/" class="tag-cloud-link tag-link-138 tag-link-position-34" style="font-size: 13.666666666667pt;" aria-label="seguro online (25 itens)">seguro online</a>
                                        <a href="//www.smartia.com.br/blog/tag/seguros/" class="tag-cloud-link tag-link-24 tag-link-position-35" style="font-size: 16.333333333333pt;" aria-label="seguros (44 itens)">seguros</a>
                                        <a href="//www.smartia.com.br/blog/tag/sinistro/" class="tag-cloud-link tag-link-186 tag-link-position-36" style="font-size: 8.5555555555556pt;" aria-label="sinistro (8 itens)">sinistro</a>
                                        <a href="//www.smartia.com.br/blog/tag/smartia/" class="tag-cloud-link tag-link-25 tag-link-position-37" style="font-size: 19.333333333333pt;" aria-label="smartia (82 itens)">smartia</a>
                                        <a href="//www.smartia.com.br/blog/tag/susep/" class="tag-cloud-link tag-link-42 tag-link-position-38" style="font-size: 8.5555555555556pt;" aria-label="susep (8 itens)">susep</a>
                                        <a href="//www.smartia.com.br/blog/tag/tecnologia/" class="tag-cloud-link tag-link-83 tag-link-position-39" style="font-size: 10.777777777778pt;" aria-label="tecnologia (13 itens)">tecnologia</a>
                                        <a href="//www.smartia.com.br/blog/tag/transito/" class="tag-cloud-link tag-link-194 tag-link-position-40" style="font-size: 12pt;" aria-label="transito (17 itens)">transito</a>
                                        <a href="//www.smartia.com.br/blog/tag/taxi/" class="tag-cloud-link tag-link-383 tag-link-position-41" style="font-size: 8pt;" aria-label="táxi (7 itens)">táxi</a>
                                        <a href="//www.smartia.com.br/blog/tag/veiculo/" class="tag-cloud-link tag-link-45 tag-link-position-42" style="font-size: 9.5555555555556pt;" aria-label="veículo (10 itens)">veículo</a>
                                        <a href="//www.smartia.com.br/blog/tag/veiculos/" class="tag-cloud-link tag-link-23 tag-link-position-43" style="font-size: 18.111111111111pt;" aria-label="veículos (63 itens)">veículos</a>
                                        <a href="//www.smartia.com.br/blog/tag/viagem/" class="tag-cloud-link tag-link-126 tag-link-position-44" style="font-size: 8.5555555555556pt;" aria-label="viagem (8 itens)">viagem</a>
                                        <a href="//www.smartia.com.br/blog/tag/volkswagen/" class="tag-cloud-link tag-link-176 tag-link-position-45" style="font-size: 10.777777777778pt;" aria-label="volkswagen (13 itens)">volkswagen</a></div>

                                </li>
                            </ul>
                        </div>

                        <div class="tag_category">
                            <h3>Ou por categoria:</h3>
                            <ul class="post-categories">
                                <li class="cat-item cat-item-70"><a href="//www.smartia.com.br/blog/category/dicas/" title="Artigos com dicas sobre seguros. Saiba mai sobre seguros.">Dicas</a>
                                </li>
                                <li class="cat-item cat-item-130"><a href="//www.smartia.com.br/blog/category/economia/" title="Artigos sobre economia, saiba mais sobre economia e seguros.">Economia</a>
                                </li>
                                <li class="cat-item cat-item-164"><a href="//www.smartia.com.br/blog/category/infograficos/" title="Artigos sobre infográficos, saiba mais sobre infográficos e seguros.">Infográficos</a>
                                </li>
                                <li class="cat-item cat-item-10"><a href="//www.smartia.com.br/blog/category/institucional/" title="Artigos sobre a Smartia e nossos seguros.">Institucional</a>
                                </li>
                                <li class="cat-item cat-item-113"><a href="//www.smartia.com.br/blog/category/manutencao/" title="Artigos sobre a manutenção, acesse nosso site e saiba mais sobre seguros.">Manutenção</a>
                                </li>
                                <li class="cat-item cat-item-4"><a href="//www.smartia.com.br/blog/category/mercado/" title="Artigos sobre o mercado, saiba mais sobre o mercado de seguros.">Mercado</a>
                                </li>
                                <li class="cat-item cat-item-46"><a href="//www.smartia.com.br/blog/category/microseguro/" title="Artigos sobre microseguros, solicite aqui um microseguro.">Microseguro</a>
                                </li>
                                <li class="cat-item cat-item-15"><a href="//www.smartia.com.br/blog/category/numeros-e-analises/" title="Saiba mais sobre&nbsp;Números e Análises, leia nossos artigos.">Números e Análises</a>
                                </li>
                                <li class="cat-item cat-item-47"><a href="//www.smartia.com.br/blog/category/parcerias/" title="Saiba mais sobre parcerias, artigos sobre nossos parceiros.">Parcerias</a>
                                </li>
                                <li class="cat-item cat-item-741"><a href="//www.smartia.com.br/blog/category/plano-de-saude/" title="Saiba mais sobre&nbsp;Plano de saúde, leia nossos artigos sobre&nbsp;Plano de saúde.">Plano de saúde</a>
                                </li>
                                <li class="cat-item cat-item-742"><a href="//www.smartia.com.br/blog/category/rastreador-de-carro/" title="Artigos sobre rastreadores de carro, aproveite para cotar o rastreador do seu carro.">Rastreador de carro</a>
                                </li>
                                <li class="cat-item cat-item-637"><a href="//www.smartia.com.br/blog/category/seguranca-2/" title="Artigos de Segurança, leia nossos artigos sobre&nbsp;Segurança.">Segurança</a>
                                </li>
                                <li class="cat-item cat-item-22"><a href="//www.smartia.com.br/blog/category/seguro/" title="Artigos sobre seguros, solicite seu seguro na Smartia.">Seguro</a>
                                </li>
                                <li class="cat-item cat-item-5"><a href="//www.smartia.com.br/blog/category/seguro-auto/" title="Artigos sobre&nbsp;Seguro Auto, solicite aqui o seguro do seu carro.">Seguro Auto</a>
                                </li>
                                <li class="cat-item cat-item-388"><a href="//www.smartia.com.br/blog/category/seguro-caminhao/" title="Artigos sobre&nbsp;seguro de caminhão, saiba mais sobre&nbsp;seguros para caminhões.">Seguro Caminhão</a>
                                </li>
                                <li class="cat-item cat-item-160"><a href="//www.smartia.com.br/blog/category/seguro-carro/" title="Artigos sobre&nbsp;seguro de carro, simule o seguro do seu carro.">Seguro Carro</a>
                                </li>
                                <li class="cat-item cat-item-9"><a href="//www.smartia.com.br/blog/category/seguro-dispositivos-portateis/" title="Artigos sobre&nbsp;Seguros de Dispositivos Portáteis, faça sua cotação.">Seguro Dispositivos Portáteis</a>
                                </li>
                                <li class="cat-item cat-item-376"><a href="//www.smartia.com.br/blog/category/seguro-frota/" title="Saiba mais sobre seguros de frotas.">Seguro Frota</a>
                                </li>
                                <li class="cat-item cat-item-375"><a href="//www.smartia.com.br/blog/category/seguro-frotas/" title="Artigos sobre seguro de frotas, saiba mais sobre seguro para frotas.">Seguro Frotas</a>
                                </li>
                                <li class="cat-item cat-item-370"><a href="//www.smartia.com.br/blog/category/seguro-moto/" title="Artigos sobre seguros de moto, solicite o seguro de sua moto.">Seguro Moto</a>
                                </li>
                                <li class="cat-item cat-item-131"><a href="//www.smartia.com.br/blog/category/seguro-online/" title="Artigos sobre seguros online, aproveite para fazer a cotação do seguro online.">Seguro online</a>
                                </li>
                                <li class="cat-item cat-item-7"><a href="//www.smartia.com.br/blog/category/seguro-residencial/" title="Artigos sobre seguro residencial, cote agora o seguro para sua residência.">Seguro Residencial</a>
                                </li>
                                <li class="cat-item cat-item-382"><a href="//www.smartia.com.br/blog/category/seguro-taxi/" title="Artigos sobre seguro de táxi, aproveite para cotar o seguro do seu táxi.">Seguro táxi</a>
                                </li>
                                <li class="cat-item cat-item-732"><a href="//www.smartia.com.br/blog/category/seguro-viagem/" title="Artigos sobre Seguro Viagem, aproveite e contrate seu seguro para viajar.">Seguro Viagem</a>
                                </li>
                                <li class="cat-item cat-item-6"><a href="//www.smartia.com.br/blog/category/seguro-vida/" title="Artigos sobre Seguro de Vida, aproveite para cotar seu Seguro de Vida.">Seguro Vida</a>
                                </li>
                                <li class="cat-item cat-item-13"><a href="//www.smartia.com.br/blog/category/smartia-na-midia/" title="Artigos sobre a Smartia na mídia.">Smartia na Mídia</a>
                                </li>
                                <li class="cat-item cat-item-1"><a href="//www.smartia.com.br/blog/category/uncategorized/">Uncategorized</a>
                                </li>
                            </ul>
                            <!--<div class="post-tags">
    <ul><li><a href="//www.smartia.com.br/blog/tag/cotacao/" rel="tag">cotação</a></li><li><a href="//www.smartia.com.br/blog/tag/preco-do-seguro/" rel="tag">preço do seguro</a></li><li><a href="//www.smartia.com.br/blog/tag/seguro-online-2/" rel="tag">seguro online</a></li></ul>  </div>-->
                        </div>

                        <div class="link-rss-lateral">
                            <a href="//feeds.feedburner.com/smartia/blog">Assine nosso feed</a>
                        </div>
                    </div>



              <div class="col_2">
              	<!-- post starts form here-->
              	{% for post in site.posts %}


                    <div id="post-6092" class="hentry p1 post publish author-fabiana-ferreira category-dicas category-seguro-auto tag-cotacao tag-preco-do-seguro tag-seguro-online-2 y2018 m03 d08 h05">

                            <div class="entry-meta">
                                <div class="outer-date">
                                    <div class="entry-date"><abbr class="published" title="2018-03-08">
           {{ post.date |  date: " %d %b" }}          </abbr></div>
                                    <!-- .entry-date -->
                                </div>
                                <!-- .outer-date -->
                                <div class="comments-link">
                                    <a href="//www.smartia.com.br/blog/entenda-como-e-feito-o-calculo-do-seguro-auto/#respond">0</a> </div>
                            </div>
                            <!-- .entry-meta -->



                            <h2 class="entry-title"><a href="//www.smartia.com.br/blog/entenda-como-e-feito-o-calculo-do-seguro-auto/" title="Permalink to Entenda como é feito o cálculo do seguro auto" rel="bookmark">
          Entenda como é feito o cálculo do seguro auto          </a>
                            </h2>
                            <!--<span class="author vcard"> Por <a class="url fn n" href="//www.smartia.com.br/blog/author/fabiana-ferreira/" title="Ver todos os posts por Fabiana Ferreira">Fabiana Ferreira</a></span>-->

                            <div class="entry-content">
                                <!--<p><strong>O cálculo do seguro auto leva em consideração o seu local de residência e idade. Veja outros itens que influenciam na formação de preço. </strong></p>
<p>Sempre que você vai contratar um seguro auto tradicional ou pesquisar o seu valor é preciso preencher um formulário que inclui diversos questionamentos.</p>
<p>Muitas pessoas acabam reclamando dele e querem saber o valor do prêmio sem passar por essa etapa, porém, não é possível.</p>
<p>O cálculo do seguro auto precisa colher o máximo de informações sobre os motoristas, seu hábito de utilização do veículo e outras informações para que possa entender os riscos e estabelecer os valores.</p>
<p>Portanto, não tem como saber o valor do seguro sem preencher essas informações, a não ser que esteja buscando um seguro simples, que protege apenas contra roubo e furto.</p>
<h2>Com é feito o&nbsp;cálculo do seguro auto</h2>
<p>Agora que já saber que esse formulário é importante, entenda como é feito o cálculo do seguro auto.</p>
<p><a href="//www.smartia.com.br/blog/wp-content/uploads/2018/02/Entenda-como-é-feito-o-cálculo-do-seguro-auto.jpg"><img class="aligncenter wp-image-6093 size-full" src="//www.smartia.com.br/blog/wp-content/uploads/2018/02/Entenda-como-é-feito-o-cálculo-do-seguro-auto.jpg" alt="Entenda como é feito o cálculo do seguro auto" width="509" height="339" srcset="//www.smartia.com.br/blog/wp-content/uploads/2018/02/Entenda-como-é-feito-o-cálculo-do-seguro-auto.jpg 509w, //www.smartia.com.br/blog/wp-content/uploads/2018/02/Entenda-como-é-feito-o-cálculo-do-seguro-auto-300x200.jpg 300w" sizes="(max-width: 509px) 100vw, 509px" /></a></p>
<h3>Valor do carro</h3>
<p>A indenização ocorre para o veículo, por isso é importante saber qual o seu valor de mercado. Portanto, há uma porcentagem que é utilizada para calcular o seguro.</p>
<p>Por exemplo, se o valor mercado do seu veículo é de R$ 40.000,00, o seguro irá cobrar 7% desse valor, ficando R$ 2.800,00 somente para esse quesito.</p>
<h3>Índice de sinistros</h3>
<p>Existe um índice de sinistro utilizado pela <a href="//www.susep.gov.br" target="_blank" rel="noopener">Superintendência de Seguros Privados &#8211; SUSEP</a> que utiliza a média de sinistros informados por todas as seguradoras.</p>
<p>Além desse, para avaliar os riscos, cada empresa possui o seu índice de sinistros e o leva como base para cálculo do seguro auto.</p>
<p>Esse é um dos fatores que faz com que o preço do seguro seja tão diferente de uma seguradora para outra.</p>
<p>Quanto mais um modelo é furtado, maior tende a ser o valor do seu seguro.</p>
<h3>Idade</h3>
<p>Estatisticamente as pessoas mais velhas tendem a se envolver menos em acidentes e por isso quanto maior a idade, menor o valor do seguro.</p>
<p>Além disso, quem é casado consegue um preço melhor, também conseguido por meio das estatísticas favoráveis.</p>
<h3>Sexo</h3>
<p>Não se trata de uma guerra dos sexos, mas novamente das estatísticas. <a href="//www.smartia.com.br/blog/2015/10/13/seguro-ainda-e-mais-barato-para-mulheres/" target="_blank" rel="noopener">As mulheres costumam pagar menos</a> no seguro por não se envolverem tanto em acidentes.</p>
<h3>Histórico de direção</h3>
<p>Pessoas que dirigem prudentemente e não se envolvem em acidentes conseguem preços melhores.</p>
<p>Isso porque os riscos de se envolverem em um acidente é menor. A pontuação da carteira de motorista é um dos fatores que contribui no cálculo do seguro auto.</p>
<p>Além disso, existe um bônus que os motoristas conseguem se mantendo longe de sinistros. Quando possuem um seguro e não tem ocorrências conseguem 1 ponto ao ano e esse é convertido é desconto.</p>
<p>Algumas seguradoras estão buscando outras maneiras de avaliar os motoristas ao volante e em contrapartida oferecer descontos.</p>
<p>A Porto Seguro, por exemplo, possui um aplicativo que mensura como o motorista age ao volante. Basta que o segurado tenha interesse me utilizá-lo e faça o download.</p>
<h3>CEP</h3>
<p>A localidade influencia e muito no valor do seguro. Alguns pontos da cidade possui um maior índice de violência e roubo, fazendo com que o preço suba consideravelmente.</p>
<p>Portanto, de uma rua para outra o valor do seguro pode sofrer grandes oscilações.</p>
<p>Nesse caso é indicado que sempre informe o seu endereço corretamente para que não haja erro no cálculo e nem dificuldade para receber as indenizações.</p>
<h3>Deixar o carro na garagem</h3>
<p>Ter o cuidado de deixar o carro na garagem faz com que ele fique menos exposto aos riscos do que quando está na via pública.</p>
<p>Quem possui garagem na residência e no trabalho leva vantagem em relação aos valores pagos.</p>
<h3>Itens de segurança</h3>
<p>Alarme, <a href="//www.smartia.com.br/blog/2013/09/27/rastreador-carro-deixa-seguro-mais-barato/" target="_blank" rel="noopener">rastreador</a> ou chave corta-corrente dificultam que o veículo seja roubado ou facilita a sua localização, diminuindo os seus riscos.</p>
<p>Quanto mais equipamentos o carro tiver menor será o valor pago.</p>
<h3>Peças de reposição</h3>
<p>Os modelos que possuem peças de reposição facilmente encontradas no mercado possuem um valor mais acessível.</p>
<p>Quando o modelo sai de linha ou suas peças ficam escassas ocorre o processo inverso.</p>
<h3>Coberturas contratadas</h3>
<p>Esse é um dos itens que o segurado possui total influência, pois ele escolhe quais coberturas serão contratadas.</p>
<p>Existem algumas coberturas básicas que vem em uma espécie de pacote, portanto são comercializadas juntas.</p>
<p>Porém, existem muitas que podem ser contratadas como extras, isso quer dizer que se pode ou não optar por elas.</p>
<p>Quanto mais serviços forem inclusos no seguro, maior será o seu valor.</p>
<p>Agora que já conhece os principais itens que ajudam na formação dos preços do seguro, pense sobre eles na hora de preencher o formulário.</p>
<p>Para <a href="//www.smartia.com.br/blog/2018/02/26/fazer-uma-cotacao-de-seguro-auto-e-economizar/" target="_blank" rel="noopener">fazer uma cotação</a> é só contar com a ajuda de um site especializado e um corretor.</p>
          -->


                                <!--<p>O cálculo do seguro auto leva em consideração o seu local de residência e idade. Veja outros itens que influenciam na formação de preço. Sempre que você vai contratar um seguro auto tradicional ou pesquisar o seu valor é preciso preencher um formulário que inclui diversos questionamentos. Muitas pessoas acabam reclamando dele e querem saber [&hellip;]</p>
<a class="leiamais" href="//www.smartia.com.br/blog/entenda-como-e-feito-o-calculo-do-seguro-auto/">Leia Mais</a>-->
                                <p><strong>O cálculo do seguro auto leva em consideração o seu local de residência e idade. Veja outros itens que influenciam na formação de preço. </strong></p>
                                <p>Sempre que você vai contratar um seguro auto tradicional ou pesquisar o seu valor é preciso preencher um formulário que inclui diversos questionamentos.</p>
                                <p>Muitas pessoas acabam reclamando dele e querem saber o valor do prêmio sem passar por essa etapa, porém, não é possível.</p>
                                <p>O cálculo do seguro auto precisa colher o máximo de informações sobre os motoristas, seu hábito de utilização do veículo e outras informações para que possa entender os riscos e estabelecer os valores.</p>
                                <p>Portanto, não tem como saber o valor do seguro sem preencher essas informações, a não ser que esteja buscando um seguro simples, que protege apenas contra roubo e furto.</p>
                                <h2>Com é feito o&nbsp;cálculo do seguro auto</h2>
                                <p>Agora que já saber que esse formulário é importante, entenda como é feito o cálculo do seguro auto.</p>
                                <p><a href="//www.smartia.com.br/blog/wp-content/uploads/2018/02/Entenda-como-é-feito-o-cálculo-do-seguro-auto.jpg"><img class="aligncenter wp-image-6093 size-full" src="//www.smartia.com.br/blog/wp-content/uploads/2018/02/Entenda-como-é-feito-o-cálculo-do-seguro-auto.jpg" alt="Entenda como é feito o cálculo do seguro auto" width="509" height="339" srcset="//www.smartia.com.br/blog/wp-content/uploads/2018/02/Entenda-como-é-feito-o-cálculo-do-seguro-auto.jpg 509w, //www.smartia.com.br/blog/wp-content/uploads/2018/02/Entenda-como-é-feito-o-cálculo-do-seguro-auto-300x200.jpg 300w" sizes="(max-width: 509px) 100vw, 509px"></a></p>
                                <h3>Valor do carro</h3>
                                <p>A indenização ocorre para o veículo, por isso é importante saber qual o seu valor de mercado. Portanto, há uma porcentagem que é utilizada para calcular o seguro.</p>
                                <p>Por exemplo, se o valor mercado do seu veículo é de R$ 40.000,00, o seguro irá cobrar 7% desse valor, ficando R$ 2.800,00 somente para esse quesito.</p>
                                <h3>Índice de sinistros</h3>
                                <p>Existe um índice de sinistro utilizado pela <a href="//www.susep.gov.br" target="_blank" rel="noopener">Superintendência de Seguros Privados – SUSEP</a> que utiliza a média de sinistros informados por todas as seguradoras.</p>
                                <p>Além desse, para avaliar os riscos, cada empresa possui o seu índice de sinistros e o leva como base para cálculo do seguro auto.</p>
                                <p>Esse é um dos fatores que faz com que o preço do seguro seja tão diferente de uma seguradora para outra.</p>
                                <p>Quanto mais um modelo é furtado, maior tende a ser o valor do seu seguro.</p>
                                <h3>Idade</h3>
                                <p>Estatisticamente as pessoas mais velhas tendem a se envolver menos em acidentes e por isso quanto maior a idade, menor o valor do seguro.</p>
                                <p>Além disso, quem é casado consegue um preço melhor, também conseguido por meio das estatísticas favoráveis.</p>
                                <h3>Sexo</h3>
                                <p>Não se trata de uma guerra dos sexos, mas novamente das estatísticas. <a href="//www.smartia.com.br/blog/2015/10/13/seguro-ainda-e-mais-barato-para-mulheres/" target="_blank" rel="noopener">As mulheres costumam pagar menos</a> no seguro por não se envolverem tanto em acidentes.</p>
                                <h3>Histórico de direção</h3>
                                <p>Pessoas que dirigem prudentemente e não se envolvem em acidentes conseguem preços melhores.</p>
                                <p>Isso porque os riscos de se envolverem em um acidente é menor. A pontuação da carteira de motorista é um dos fatores que contribui no cálculo do seguro auto.</p>
                                <p>Além disso, existe um bônus que os motoristas conseguem se mantendo longe de sinistros. Quando possuem um seguro e não tem ocorrências conseguem 1 ponto ao ano e esse é convertido é desconto.</p>
                                <p>Algumas seguradoras estão buscando outras maneiras de avaliar os motoristas ao volante e em contrapartida oferecer descontos.</p>
                                <p>A Porto Seguro, por exemplo, possui um aplicativo que mensura como o motorista age ao volante. Basta que o segurado tenha interesse me utilizá-lo e faça o download.</p>
                                <h3>CEP</h3>
                                <p>A localidade influencia e muito no valor do seguro. Alguns pontos da cidade possui um maior índice de violência e roubo, fazendo com que o preço suba consideravelmente.</p>
                                <p>Portanto, de uma rua para outra o valor do seguro pode sofrer grandes oscilações.</p>
                                <p>Nesse caso é indicado que sempre informe o seu endereço corretamente para que não haja erro no cálculo e nem dificuldade para receber as indenizações.</p>
                                <h3>Deixar o carro na garagem</h3>
                                <p>Ter o cuidado de deixar o carro na garagem faz com que ele fique menos exposto aos riscos do que quando está na via pública.</p>
                                <p>Quem possui garagem na residência e no trabalho leva vantagem em relação aos valores pagos.</p>
                                <h3>Itens de segurança</h3>
                                <p>Alarme, <a href="//www.smartia.com.br/blog/2013/09/27/rastreador-carro-deixa-seguro-mais-barato/" target="_blank" rel="noopener">rastreador</a> ou chave corta-corrente dificultam que o veículo seja roubado ou facilita a sua localização, diminuindo os seus riscos.</p>
                                <p>Quanto mais equipamentos o carro tiver menor será o valor pago.</p>
                                <h3>Peças de reposição</h3>
                                <p>Os modelos que possuem peças de reposição facilmente encontradas no mercado possuem um valor mais acessível.</p>
                                <p>Quando o modelo sai de linha ou suas peças ficam escassas ocorre o processo inverso.</p>
                                <h3>Coberturas contratadas</h3>
                                <p>Esse é um dos itens que o segurado possui total influência, pois ele escolhe quais coberturas serão contratadas.</p>
                                <p>Existem algumas coberturas básicas que vem em uma espécie de pacote, portanto são comercializadas juntas.</p>
                                <p>Porém, existem muitas que podem ser contratadas como extras, isso quer dizer que se pode ou não optar por elas.</p>
                                <p>Quanto mais serviços forem inclusos no seguro, maior será o seu valor.</p>
                                <p>Agora que já conhece os principais itens que ajudam na formação dos preços do seguro, pense sobre eles na hora de preencher o formulário.</p>
                                <p>Para <a href="//www.smartia.com.br/blog/2018/02/26/fazer-uma-cotacao-de-seguro-auto-e-economizar/" target="_blank" rel="noopener">fazer uma cotação</a> é só contar com a ajuda de um site especializado e um corretor.</p>


                            </div>
                            <!-- .entry-content -->
                            <div class="entry-utility">
                                <div class="post-tags">
                                    <ul>
                                        <li><a href="//www.smartia.com.br/blog/tag/cotacao/" rel="tag">cotação</a></li>
                                        <li><a href="//www.smartia.com.br/blog/tag/preco-do-seguro/" rel="tag">preço do seguro</a></li>
                                        <li><a href="//www.smartia.com.br/blog/tag/seguro-online-2/" rel="tag">seguro online</a></li>
                                    </ul> <br style="clear:both;">
                                </div>

                                <div class="socialize"></div>
                            </div>
                            <!-- post ends form here-->
                            <!-- .entry-utility -->
                            {% endfor %}
                        </div>
                        <div class="shadow"></div>





                        
                        <section class="home banner post-banner">

                            <div class="row">
                                <div class="six columns push-six calltoaction panel callout" style="background-color: transparent;">
                                    <p class="call-title">COTE SEU SEGURO AUTO</p>

                                    <p class="lead"><strong>Qual a marca do seu carro?</strong></p>

                                    <form id="centro_banner_form" method="get" action="//melhor.smartia.com.br/">
                                        <ul class="fabricantes">
                                            <li>
                                                <input id="chevrolet" type="radio" name="marca" value="GM - Chevrolet" onclick="this.form.submit()">
                                                <label for="chevrolet"><img src="//www.smartia.com.br/blog/wp-content/uploads/2017/12/chevrolet1.png"></label>
                                            </li>
                                            <li><input id="fiat" type="radio" name="marca" value="Fiat" onclick="this.form.submit()">
                                                <label for="fiat"><img src="//www.smartia.com.br/blog/wp-content/uploads/2017/12/fiat1.png"></label>
                                            </li>
                                            <li><input id="ford" type="radio" name="marca" value="Ford" onclick="this.form.submit()">
                                                <label for="ford">
											<img src="//www.smartia.com.br/blog/wp-content/uploads/2017/12/ford1.png">
											</label>
                                            </li>
                                            <li><input id="hyundai" type="radio" name="marca" value="Hyundai" onclick="this.form.submit()">
                                                <label for="hyundai">
											<img src="//www.smartia.com.br/blog/wp-content/uploads/2017/12/hyundai1.png">
											</label>
                                            </li>
                                            <li><input id="renault" type="radio" name="marca" value="Renault" onclick="this.form.submit()">
                                                <label for="renault">
											<img src="//www.smartia.com.br/blog/wp-content/uploads/2017/12/renault1.png">
											</label>
                                            </li>
                                            <li><input id="toyota" type="radio" name="marca" value="Toyota" onclick="this.form.submit()">
                                                <label for="toyota">
											<img src="//www.smartia.com.br/blog/wp-content/uploads/2017/12/Toyota1.png">
											</label>
                                            </li>
                                            <li><input id="vw" type="radio" name="marca" value="VW - VolksWagen" onclick="this.form.submit()">
                                                <label for="vw">
											<img src="//www.smartia.com.br/blog/wp-content/uploads/2017/12/VW1.png">
											</label>
                                            </li>
                                            <li><input id="outra" type="radio" name="marca" onclick="this.form.submit()">
                                                <label for="outra">
											<img src="//www.smartia.com.br/blog/wp-content/uploads/2017/12/outra2.png">
											</label>
                                            </li>
                                        </ul>
                                        <input type="hidden" name="aff_id" value="1189" id="aff_id" class="aff_id">

                                        <input type="hidden" name="centro_utm_source" value="" id="centro_utm_source" class="centro_utm_source">
                                        <input type="hidden" name="centro_utm_medium" value="" id="centro_utm_medium" class="centro_utm_medium">
                                        <input type="hidden" name="centro_utm_campaign" value="" id="centro_utm_campaign" class="centro_utm_campaign">
                                        <input type="hidden" name="centro_referrer" value="" id="centro_referrer" class="centro_referrer">
                                        <input type="hidden" name="centro_landing_page_url" value="https://www.smartia.com.br/" id="centro_landing_page_url" class="centro_landing_page_url">
                                        <input type="hidden" name="centro_session_landing_page_url" value="" id="centro_session_landing_page_url" class="centro_session_landing_page_url">


                                        <input type="submit" class="large button vemm-event-go-to-form" value="Solicitar">
                                    </form>
                                    <hr>

                                </div>
                            </div>

                        </section>
                        <div class="pagination"><a href="//www.smartia.com.br/blog/page/2/">« Posts Anteriores</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>