<footer class="rodape">
	<div class="links">
	<div class="container">
		<div class="row">
			<ul class="col-md-12 col-sm-12 col-xs-12" role="presentation">
				<li><a href="https://www.smartia.com.br/politica-de-privacidade" title="Veja a política de privacidade da Smartia">Política de privacidade</a></li>
				<li class="divider">|</li>
				<li><a href="https://www.smartia.com.br/termos-de-uso" title="Veja os termos de uso da Smartia">Termos de uso</a></li>
				<li class="divider">|</li>
				<li><a href="https://www.smartia.com.br/seguranca" title="Tudo sobre a segurança de seus dados em nosso site">Segurança</a></li>
				<li class="divider">|</li>
				<li><a href="https://www.smartia.com.br/cotacao-de-seguro" title="Entenda a cotação de Seguro">Cotação de Seguro</a></li>
				<li class="divider">|</li>
				<li><a href="https://www.smartia.com.br/sobre-seguro-auto" title="Saiba mais sobre seguro auto">Seguro Auto</a></li>
				<li class="divider">|</li>
				<li><a href="https://www.smartia.com.br/valor-de-seguro" title="Saiba o valor do seu seguro">Valor de Seguro</a></li>
				<li class="divider">|</li>
				<li><a href="https://www.smartia.com.br/simulacao-de-seguros" title="Entenda a simulação de seguros">Simulação de Seguros</a></li>
				<li class="divider">|</li>
				<li><a href="https://www.smartia.com.br/franquia-de-seguros" title="Saiba mais sobre franquia de seguros">Franquia de Seguros</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="row imagens">
		<div class="siga-nos col-md-4 col-sm-4 col-xs-4">
			Siga-nos 
			<ul class="inline">
				<li><a href="https://www.facebook.com/SmartiaSeguros" target="_blank" alt="Curta nossa página do Facebook"><b class="sprite-dinamico share-facebook ir">Curta nossa página do Facebook</b></a></li> 
				<li><a href="https://twitter.com/smartiaseguros/" target="_blank" alt="Siga a Smartia no Twitter"><b class="sprite-dinamico share-twitter ir">Siga a Smartia no Twitter</b></a></li>
				
				<li><a href="https://www.youtube.com/user/SmartiaSeguros" target="_blank" alt="Assista os vídeos da nossa página do Youtube"><b class="sprite-dinamico share-youtube ir">Assista os vídeos da nossa página do Youtube</b></a></li>
				<li><a href="https://plus.google.com/+SmartiaBrSeguros" rel="publisher" target="_blank" alt="Não deixe de acessar nossa página do Google Plus"><b class="sprite-dinamico share-google-plus ir">Não deixe de acessar nossa página do Google Plus</b></a></li>
			</ul>
		</div>
		<div class="site-seguro col-md-4 col-sm-4 col-xs-4 logos">
			<div class="descricao col-md-4 col-sm-4 col-xs-4">
				Site seguro, cotação segura:
			</div>
			<div class="logo col-md-3 col-sm-3 col-xs-3">
				<a href="javascript:vopenw('Certisign')"><b class="sprite-fixo logo-certisign ir">Site seguro - validado por CertiSign</b></a>
			</div>
		</div>
		
	</div>
	<div class="row copyrights">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p class="copyright">
				© Copyright 2017 Smartia. Todos os direitos reservados.
			</p>
			<p class="texto-copyright">
				Smartia ® é de propriedade da Eurodemand do Brasil S.A, registrada sob o CNPJ 17.467.253/0001-72, situada à Av. Brigadeiro Faria Lima 201 - 11º andar | São Paulo, SP 05426-100. Este portal faz parte do grupo de sites de seguros e finanças de nossa empresa. Temos parcerias com as principais corretoras de seguro e seguradoras do Brasil. Preencha o nosso formulário para solicitar o seu seguro auto e receber o contato de um de nossos corretores em sua região. Para entrar em contato com nossa equipe utilize nosso formulário de contato.
			</p>
		</div>
	</div>
</div>

</footer>

		


		<script src='https://www.smartia.com.br/resources/styles/v3-common.js' type="text/javascript"></script>
			<script src='https://www.smartia.com.br/resources/styles/estaticas.js' type="text/javascript" async></script>

		<!--[if lte IE 8]><script>window.setTimeout("$('html').removeClass('hideall')", 3000);</script><![endif]-->
		<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.async = true;
  js.src = "https://connect.facebook.net/pt_BR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


	</body>

</html>