leave a comment
<form method="post" action="https://api.staticman.net/v1/entry/VishalSalunke/smartia.com.br/master">
  <div class="comment_container" >
      <fieldset >
    <div >
      <input  type="text" name="fields[name]" placeholder="name" />
      <!-- <label  for="name">Your name</label> -->
    </div>
  </fieldset>
<br>
  
  <fieldset >
    <div >
      <input  type="text" name="fields[email]" placeholder="email address"/>
      <!-- <label  for="fields[email]">Email address</label> -->
    </div>
  </fieldset>
<br>
  <fieldset >
    <div >
      <textarea name="fields[comment]" type="text"  placeholder="comment"></textarea>
     <!--  <label  for="fields[comment]">comment</label> -->
    </div>
  </fieldset>
<br>
  
  <fieldset >
    <button >
      Submit
    </button>
  </fieldset>
  </div>
  
</form>
