<form method="post" action="https://api.staticman.net/v1/entry/VishalSalunke/smartia.com.br/master">
  <div ></div>
  <fieldset >
    <div >
      <input  type="text" name="fields[name]"/>
      <label  for="name">Your name</label>
    </div>
  </fieldset>

  
  <fieldset >
    <div >
      <input  type="text" name="fields[email]"/>
      <label  for="fields[email]">Email address</label>
    </div>
  </fieldset>

  <fieldset >
    <div >
      <textarea name="fields[comment]" type="text" rows= "3" ></textarea>
      <label  for="fields[comment]">comment</label>
    </div>
  </fieldset>

  
  <fieldset >
    <button >
      Submit
    </button>
  </fieldset>
</form>
