{% include header.html %}

<div class="page-title">
	<div class="container single-page">		
		<ol class="breadcrumb">
			<li><a href="https://www.smartia.com.br/">Início</a></li>
		  
			<li class="active">Seguro online</li>
		
		</ol>
		
		
		
		<h1>{{page.titulo-h1}}</h1>
		
			<a href="#" onclick="document.getElementById('centro_banner_form').submit();" class="big-simule-button" rel="nofollow">Simule seu Seguro Auto</a>
		
	</div>
</div>

		
		<div class="container">	
			<span class="double-border"></span>
			
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<main class="page-with-aside with-padding institucional"> 
						<h2 class="yellow big mb-15">{{page.titulo-h2}}</h2>
						{{page.content}}
					</main>
					
					<aside class="aside-with-page">
						<ul class="aside-links">
		
		<li><a class="active" href="https://www.smartia.com.br/como-funciona-seguro-online">Seguro online</a></li>
		<li><a class="" href="https://www.smartia.com.br/seguradoras">Seguradoras</a></li>
		<li><a class="" href="https://www.smartia.com.br/como-acionar-seu-seguro">Acionando seu seguro</a></li>
		
		<li><a class="" href="https://www.smartia.com.br/perguntas-frequentes">FAQ - Perguntas Frequentes</a></li>
		<li><a class=" last" href="https://www.smartia.com.br/dicionario-de-seguros">Dicionário do “Segurês”</a></li>
	
	

						</ul>
					</aside>
					
					<br />
					
				</div>
			</div>
		</div>
	
		</div>


{% include footer.html %}