{% include header.html %}


<div class="page-title">
	<div class="container single-page">		
		<ol class="breadcrumb">
			<li><a href="/">Início</a></li>
		  
			<li class="active">FAQ - Perguntas Frequentes</li>
		
		</ol>
		<h1>FAQ - Perguntas Frequentes</h1>
		
			<a href="#" onclick="document.getElementById('centro_banner_form').submit();" class="big-simule-button" rel="nofollow">Simule seu Seguro Auto</a>
		
	</div>
</div>

	
		<div class="container">	
			<span class="double-border"></span>
			
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<main class="page-with-aside with-padding institucional"> 
						
						<h2 class="yellow big mb-15">Dúvidas sobre seguro online</h2>
						<div class="video-center-default" align="center">
							<iframe width="654" height="380" src="https://www.youtube.com/embed/5XlypuUF0DA" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="faq">
							<h4 class="accordion-title">Como é o processo de contratação e cobertura do risco no seguro de automóvel?</h4>
							<div class="accordion-content current">
								<p>A contratação se dá através de:</p>
								<p>
									1) Entrega da proposta de seguro, com respectivo protocolo (físico ou eletrônico); <br /> 
									2) Inspeção do risco, nota fiscal ou confirmação de renovação;  <br />
									3) Pagamento da primeira parcela ou parcela única dentro do vencimento estipulado pela seguradora. 
								</p>
								<p>É comum a concessão do prazo de 3 a 5 dias úteis (ou corridos) para pagamento da primeira parcela. Após a realização dos três passos, a seguradora dispõe de 15 dias para analisar e, eventualmente, recusar o risco. Considerando que o risco esteja dentro da política de aceitação da companhia divulgada aos corretores, até que a eventual recusa seja consumada ao corretor o risco está coberto, exceto nos casos de fraude comprovada.</p>
							</div>
						</div>
						
						<hr class="dotted full line" />
						
						<div class="faq">
							<h4 class="accordion-title">Quais as principais garantias oferecidas no seguro de automóvel?</h4>
							<div class="accordion-content">
								<p>As garantias dividem-se basicamente em:</p>

<p>Coberturas básicas: cobrem incêndio, roubo/furto, colisão, acidentes pessoais de passageiros, danos corporais e danos materiais;</p>

<p>Coberturas adicionais: garantem, por exemplo, utilização de carro reserva, danos nos vidros, lanternas e retrovisores, danos morais ao segurado;</p>

<p>Serviços de assistência: garantem, por exemplo, reboque 24h, chaveiro, troca de pneus, dentre inúmeros outros.</p>
							</div>
						</div>
						
						<hr class="dotted full line" />
						
						<div class="faq">
							<h4 class="accordion-title">O que são coberturas básicas?</h4>
							<div class="accordion-content">
								<p>São aquelas que garantem os danos relativos ao veículo segurado propriamente dito (CASCO).<p>

<p>COMPREENSIVA (Colisão + Incêndio + Roubo): Cobre os casos de acidentes de trânsito, colisão, capotagem, tombamento, derrapagem, atos danosos praticados por terceiros, submersão parcial ou total do veículo proveniente de alagamento, enchentes ou inundações, inclusive nos casos de veículos guardados em subsolos, ressaca, vendaval, granizo, furacão, terremoto, raios, incêndio ou explosão, roubo ou furto parcial ou total.</p>

<p>As despesas necessárias ao socorro e salvamento do veículo, em consequência de um dos riscos cobertos, serão reembolsáveis em qualquer uma das coberturas básicas.</p>

<p>INCêNDIO E ROUBO: Cobre os casos de incêndio ou explosão, raios, roubo ou furto total do veículo. Também cobre colisão, capotagem e derrapagem, quando decorrentes de roubo ou furto total do veículo.</p>
							</div>
						</div>
						
						<hr class="dotted full line" />
						
						<div class="faq">
							<h4 class="accordion-title">Quais são as modalidades de contratação do seguro de automóvel?</h4>
							<div class="accordion-content">
								<p>As seguradoras podem oferecer duas modalidades de contratação: Valor de Mercado Referenciado (VMR) e Valor Determinado (VD).</p>

<p>Valor de Mercado Referenciado é a forma de contratação que garante ao segurado, em caso de indenização integral, o pagamento de quantia variável, em moeda corrente nacional, determinada de acordo com uma tabela de referência de média dos valores de mercado praticados para veículos (a mais utilizada é a elaborada pela FIPE - Fundação Instituto de Pesquisas Econômicas), previamente fixada na proposta de seguro, conjugada com o fator de ajuste, em percentual a ser aplicado sobre a tabela estabelecida, na data da liquidação do sinistro.</p>

<p>Valor Determinado é a forma de contratação que garante ao segurado, em caso de indenização integral, o pagamento de quantia fixa, em moeda corrente nacional, estipulada pelas partes no ato da contratação da apólice de seguro. Este valor poderá contemplar os opcionais existentes, além de levar em conta o ano de fabricação, tipo, modelo e o estado de conservação do veículo. Nos casos de veículo zero Km, deverá ser considerado como limite máximo de indenização, o valor da nota fiscal de compra.</p>

<p>Cabe registrar que, de acordo com o Código Civil, um bem não pode ser segurado por valor maior do que vale. Portanto, no caso de contratação da modalidade de Valor Determinado, as seguradoras limitam o Limite Máximo de Indenização (LMI) ao valor médio de mercado do veículo. Após a escolha de uma modalidade de contratação, esta não poderá ser alterada durante a vigência do contrato.</p>
							</div>
						</div>
						
						<hr class="dotted full line" />
						
						<div class="faq">
							<h4 class="accordion-title">O que são coberturas adicionais?</h4>
							<div class="accordion-content">
								<p>As coberturas adicionais são aquelas concedidas mediante cobrança de prêmio adicional. Elas podem ser relativas:</p>

<p>Ao veículo segurado: Acessórios, carrocerias, equipamentos, blindagem e kit gás;</p>

<p>Aos serviços fornecidos: Danos a vidros, lanternas, faróis e lentes de retrovisores, assistência ao veículo e aos passageiros (assistência 24hs) e carro reserva;</p>

<p>Às atividades profissionais: Despesas extraordinárias e diárias de indisponibilidade de veículo ou perda de faturamento;</p>

<p>Aos limites de cobertura: Ampliação da extensão de perímetro e valor de novo.</p>
							</div>
						</div>
						
						<hr class="dotted full line" />
						
						<div class="faq">
							<h4 class="accordion-title">O que cobre a garantia da blindagem do veículo?</h4>
							<div class="accordion-content">
								<p>Estão cobertos os danos causados à blindagem do veículo, decorrentes de eventos causados por colisão, incêndio e roubo. Para a contratação dessa garantia é necessário apresentar nota fiscal e certificado de qualidade.</p>
							</div>
						</div>
						
						<hr class="dotted full line" />
						
						<div class="faq">
							<h4 class="accordion-title">O que cobre a garantia do kit gás?</h4>
							<div class="accordion-content">
								<p>Estão cobertos os danos causados ao equipamento de kit gás, decorrentes de eventos causados por colisão, incêndio e roubo. Para a contratação dessa garantia é necessário apresentar o Certificado de Segurança Veicular, expedido por instituição técnica licenciada, bem como uma regularização junto ao DETRAN.</p>
							</div>
						</div>
						
						<hr class="dotted full line" />
						
						<div class="faq">
							<h4 class="accordion-title">O que cobre a garantia de carro reserva?</h4>
							<div class="accordion-content">
								<p>Garante ao segurado o direito à locação de veículo pelo número de dias contratados na apólice. As opções mais praticadas pelas seguradoras são: 7, 15, 30 ou 45 dias, em caso de sinistro coberto pelo seguro e quando o valor dos prejuízos for superior à franquia fixada para o veículo segurado. Algumas seguradoras oferecem essa cobertura, em caso de perda parcial, pelo período compreendido entre a data do sinistro e a entrega do veículo pela oficina, e, em caso de indenização integral, da data do sinistro até a data da efetiva indenização. Há, também, a opção de algumas seguradoras oferecerem o carro reserva mesmo no caso em que o segurado seja o terceiro no acidente e o sinistro esteja sendo tratado em outra seguradora.</p>
							</div>
						</div>
						
						<hr class="dotted full line" />
						
						<div class="faq">
							<h4 class="accordion-title">O que é a garantia de despesas extraordinárias?</h4>
							<div class="accordion-content">
								<p>Na ocorrência de um sinistro de perda total do veículo, a seguradora garante ao segurado uma indenização adicional correspondente a um percentual do valor indenizado, para o pagamento de despesas extras, decorrentes do sinistro, sem necessidade de comprovação das despesas.</p>
							</div>
						</div>
						
						<hr class="dotted full line" />
						
						<div class="faq">
							<h4 class="accordion-title">O que é cobertura de RCF (Responsabilidade Civil Facultativa)?</h4>
							<div class="accordion-content">
								<p>Visa reembolsar ao segurado a indenização à qual esteja obrigado, judicial ou extrajudicialmente, a pagar em consequência de danos corporais e/ou materiais involuntários causados a terceiros.</p>

<p>Ela pode ser contratada de forma isolada, ficando sujeita às regras de vistoria prévia da seguradora, e não há acréscimo no valor da franquia do seguro.</p>

<p>Ela pode ser dividida entre garantia básica e garantias adicionais.</p>

<p>A garantia básica possui as coberturas contra Danos Materiais e/ou Danos Corporais (pessoais) involuntários, causados a terceiros, que decorram de acidentes, provocados pelo veículo descriminado na apólice, ou pela carga transportada, limitadas ao valor contratado.</p>

<p>As garantias adicionais cobrem, por exemplo: Danos Morais, Carga e Descarga, Contaminação e/ou Poluição, Veículos Rebocadores, Reboques ou Semi-Reboques desatrelados de rebocadores, Extensão de Cobertura para Países da América do Sul, entre outras.</p>

<p>Na maioria dos casos a seguradora indeniza diretamente o terceiro ou o prestador de serviço responsável pela reposição do bem, mas também estão cobertas as despesas com custas judiciais e honorários de advogados, em caso do segurado ser responsabilizado civilmente em sentença judicial transitada em julgado ou em acordo judicial ou extrajudicial.</p>
							</div>
						</div>
						
						<hr class="dotted full line" />
						
						<div class="faq">
							<h4 class="accordion-title">O que é cobertura de APP (Acidentes Pessoais de Passageiros)?</h4>
							<div class="accordion-content">
								<p>O objetivo é a indenização por danos decorrentes de acidentes pessoais ocorridos aos passageiros, quando transportados em veículos de uso particular ou público e destinados a este fim.</p>

<p>Considera-se acidente pessoal o evento com data caracterizada, de origem externa, súbito, involuntário e violento, causador de lesão física que, por si só e independente de toda e qualquer outra causa, tenha como consequência direta a morte ou invalidez permanente total ou parcial dos passageiros ou torne necessário o tratamento médico.</p>

<p>Se, no momento do acidente, o número de ocupantes excederem a capacidade oficial do veículo segurado, a garantia não será coberta pelo seguro.</p>

<p>A cobertura de APP para menores de 14 anos de idade compreenderá apenas o reembolso das despesas funerárias.</p>

<p>A garantia básica possui coberturas contra Morte (M) e Invalidez Permanente (IP) e a garantia adicional cobre Despesas Médico-Hospitalares (DMH).</p>
							</div>
						</div>
						
						<hr class="dotted full line" />
						
						<div class="faq">
							<h4 class="accordion-title">O que cobre os Serviços de Assistência 24hs?</h4>
							<div class="accordion-content">
								<p>As seguradoras estão regulamentadas a ofertar serviços de assistência, caracterizados como atividades complementares aos contratos de seguros.</p>

<p>A cobertura de Assistência 24hs garante assistência ao veículo segurado e a seus ocupantes na ocorrência de eventos previstos no contrato do seguro (colisão, incêndio e roubo), assim como o de prestar assistência ao segurado em caso de pane elétrica, pane mecânica, falta de combustível (pane seca), troca de pneus, serviço de chaveiro, dentre outras.!</p>
							</div>
						</div>
						
						<hr class="dotted full line" />
						
						<div class="faq">
							<h4 class="accordion-title">O que é franquia?</h4>
							<div class="accordion-content">
								<p>A franquia é um valor, determinado na apólice, que representa a participação do segurado nos prejuízos resultantes de cada sinistro de perda parcial. O segurado deverá escolher o valor da franquia apropriado ao seu risco, com orientação do corretor. As franquias podem ser básica (ou obrigatória), facultativa e reduzida.</p>

<p>Ao contratar um seguro com franquia, o segurado reduz parte do risco da seguradora, diminuindo, consequentemente, o prêmio do seguro. O valor da franquia é estabelecido de acordo com ano, marca, modelo, características, categoria tarifária do veículo, e varia de seguradora para seguradora.</p>

<p>O segurado está isento do pagamento de franquia nos casos de danos causados por incêndio, queda de raio e/ou explosão, e nos casos de indenização integral do veículo segurado.</p>
							</div>
						</div>
						
						<hr class="dotted full line" />
						
						<div class="faq">
							<h4 class="accordion-title">O que é bônus e como funciona o critério de bonificação?</h4>
							<div class="accordion-content">
								<p>Bônus é um desconto expresso em classes e atua como indicador da experiência do segurado. é concedido por ocasião da renovação da sua apólice, em função da experiência do condutor do veículo, geralmente aquele definido no Questionário de Avaliação de Riscos (perfil) e representado pelo histórico de renovações de cada apólice/item. Ele representa a experiência do segurado em função dos sinistros ocorridos e indenizáveis, a cada período de um ano de vigência de seguro. Na renovação da apólice, serão reduzidas tantas classes de bônus quantos forem os sinistros ocorridos naquela vigência.</p>

<p>O bônus é único e, portanto abrange as coberturas de Casco, RCF e APP.</p>

<p>Por ser um direito pessoal e intransferível, nos casos de alteração do segurado ou condutor principal no contrato de seguro, o bônus será excluído. Entretanto, admite-se a transferência de bônus entre segurados quando houver transferência entre cônjuges, entre pais e filhos e entre pessoa jurídica para pessoa física, se comprovado que o novo segurado era condutor do veículo.</p>

<p>Os atendimentos prestados aos segurados por pane elétrica/mecânica e demais atendimentos ligados aos planos de assistência 24hs, assim como os serviços de reparos de vidros, carro reserva e outros serviços que não estejam ligados a sinistros indenizáveis, não serão considerados sinistros e, portanto, não devem ser considerados no cálculo de classe de bônus.</p>
							</div>
						</div>
						
						<hr class="dotted full line" />
						
						<div class="faq">
							<h4 class="accordion-title">Como as Seguradoras avaliam o risco e precificam o valor do seguro do meu carro?</h4>
							<div class="accordion-content">
								<p>As seguradoras avaliam o risco por meio do "Questionário de Avaliação do Risco", que deve ser respondido pelo segurado com exatidão, pois é parte integrante da proposta de seguro e visa, mediante análise dos riscos, agravar ou conceder descontos nos prêmios dos seguros.</p>

<p>Foi criado por algumas seguradoras para mensurar o risco de acordo com o perfil e hábitos do segurado e/ou condutor. Assim, são obtidos preços mais ajustados aos riscos assumidos.</p>

<p>Todos os dados declarados no questionário poderão ser auditados a qualquer momento pela seguradora, podendo ela negar a indenização, em caso de sinistro, quando constatadas inverdades, omissões ou irregularidades no preenchimento do questionário.</p>
							</div>
						</div>
						
						<hr class="dotted full line" />
						
						<div class="faq">
							<h4 class="accordion-title">O que devo fazer em caso de sinistro?</h4>
							<div class="accordion-content">
								<p>O primeiro procedimento é contatar a delegacia ou policial mais próximo e pedir que seja feito um Boletim de Ocorrência (BO).</p>

<p>O segundo passo é entrar em contato diretamente com a sua seguradora, para informar a ocorrência, efetuar o aviso de sinistro e juntar a documentação requerida contratualmente pelo seguro do carro.</p>

<p>A indenização integral será paga até 30 dias após a entrega de toda a documentação.</p>
							</div>
						</div>
						
						<hr class="dotted full line" />
						
						<div class="faq">
							<h4 class="accordion-title">A Seguradora pode recusar a fazer o seguro do meu automóvel?</h4>
							<div class="accordion-content">
								<p>Sim. As normas para recusa não estão especificadas, mas podem ser recusadas por motivos como veículos de mais de 10 anos, chassi remarcado, irregularidades junto ao Detran, de pagamentos, entre outros.</p>
							</div>
						</div>
						
						<p class="alert">É fundamental a participação do CORRETOR DE SEGUROS no assessoramento ao cliente no momento da contratação do Seguro de Automóveis.</p>
						 
						
					</main>
					
					<aside class="aside-with-page">
						<ul class="aside-links">
							

		
		<li><a class="" href="como-funciona-seguro-online">Seguro online</a></li>
		<li><a class="" href="seguradoras">Seguradoras</a></li>
		<li><a class="" href="como-acionar-seu-seguro">Acionando seu seguro</a></li>
		
		<li><a class="active" href="perguntas-frequentes">FAQ - Perguntas Frequentes</a></li>
		<li><a class=" last" href="dicionario-de-seguros">Dicionário do “Segurês”</a></li>
	
	

						</ul>
					</aside>
					
					<br />
					
				</div>
			</div>
		</div>
	
		</div>

{% include footer.html %}